[submodule "musketeers"]
	path = musketeers
	url = https://github.com/oceanjack/musketeers.git
[submodule "CodeMirror"]
	path = CodeMirror
	url = https://github.com/codemirror/CodeMirror.git
[submodule "WeixinApi"]
	path = WeixinApi
	url = https://github.com/zxlie/WeixinApi.git
